<h1>Listing photos</h1>


<%= form_for :photo, :url => photos_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :photo %>
  <%= form.submit %>
<% end %>


<table>
  <tr>
    <th></th>
    <th>Photo file name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= image_tag photo.photo.url(:thumb) %></td>
    <td><%= photo.photo_file_name %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
